doctype html

html

    body
        h4
        table
            tr
                h2 Molecule Combination
                ol
                    each val in data
                        li
                          each brand in val.brands_id
                              h4 Brand - &nbsp #{brand.brand_name}

                                  each company in brand.company_id
                                       h4 Company - #{company.company_name}

                                  each dosage in brand.dosage_id
                                       h4 Dosages - #{dosage.dosage_form}

                        h4 Price - #{val.price}


                        each molecule in val.potent_substance
                            h4 Molecule - #{molecule.name}
