doctype html

html

    body
        h4
        table
            tr
                h2 Molecule Brand
                ol
                    each val in data
                        each brandin in val
                            each brand in brandin.brands_id
                                li
                                   h4 Brand - &nbsp #{brand.brand_name}
                                      each company in brand.company_id
                                           h4 Company - #{company.company_name}

                                      each dosage in brand.dosage_id
                                           h4 Dosages - #{dosage.dosage_form}

                            h4 Price - #{brandin.price}

                            each molecule in brandin.potent_substance
                                   h4 Molecule - #{molecule.name}


