div.row
    div.col.s12.m12.l9.offset-l3
        img#drug(src='/images/drugsData.jpg', style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;')
        div#drugdata
            .col.s12.m12.l11.offset-l1
                br

                div.row
                    div.drug_alphabets.pull-left
                        span.center
                            ul
                                li.active
                                    a.btn2.all.hoverable(href='/health_care_provider?page=disease_data' type='all') All
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') A
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') B
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') C
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') D
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') E
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') F
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') G
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') H
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') I
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') J
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') K
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') L
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') M
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') N
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') O
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') P
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') Q
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') R
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') S
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') T
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') U
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') V
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') W
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') X
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') Y
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=disease_data') Z
                                li
                                    a.btn2.all.hoverable(href='/health_care_provider?page=disease_data' type='other') Other

        div.col.s12.m12.l12
            div.col.grey.lighten-3.s12.m8.l8.offset-l1
                each val in data
                    h3 #{val.disease_name.toUpperCase()}
                    if(val.symptoms)
                        li.section.scrollspy#symptoms
                            span.bold What are the Symptoms of #{val.disease_name.toUpperCase()}?
                            br
                            span.flow-text #{val.symptoms}
                    if(val.risk_factor)
                        li.section.scrollspy#risk
                            span.bold Who is at Risk for #{val.disease_name.toUpperCase()}?
                            br
                            span.flow-text #{val.risk_factor}
                    if(val.cause)
                        li.section.scrollspy#cause
                            span.bold What Causes #{val.disease_name.toUpperCase()}?
                            br
                            span.flow-text #{val.cause}
                    if(val.subhead)
                        li.section.scrollspy#diagnosis
                            span.bold  How is #{val.disease_name.toUpperCase()} Diagnosed?
                            br
                            each subhead in val.subhead
                                - for(var i=0; i<subhead.name1.length; i=i+2)
                                        span.flow-text #{subhead.name1[i]} #{subhead.name2[i]}
                                        br
                    if(val.treatment)
                        li.section.scrollspy#treatment
                            span.bold How is #{val.disease_name.toUpperCase()} Treated?
                            br
                            span.flow-text #{val.treatment}
                    if(val.outlook)
                        li.section.scrollspy#outlook
                            span.bold What is the Outlook for #{val.disease_name.toUpperCase()}?
                            br
                            span.flow-text #{val.outlook}
                    if(val.prevention)
                        li.section.scrollspy#prevention
                            span.bold How can #{val.disease_name.toUpperCase()} be Prevented?
                            br
                            span.flow-text #{val.prevention}
                    h5.section.scrollspy#source Source: #{val.source}

            div.col.l3.m4.hide-on-small-only
                ul.section.table-of-contents(style='position:sticky;padding-bottom:10px;')
                    li
                        a(href='#symptoms') Symptoms
                    li
                        a(href='#risk') Risk Factors
                    li
                        a(href='#cause') Causes
                    li
                        a(href='#diagnosis') Diagnosis
                    li
                        a(href='#treatment') Treatment
                    li
                        a(href='#outlook') Outlook
                    li
                        a(href='#prevention') Prevention
                    li
                        a(href='#source') Source

        div
            br
            br
            div.col.s12.l12.m12.grey.lighten-1(style='padding:5px;margin-top:20px')
                a.black-text.modal-trigger(href='#modal2') <strong>Give a Feedback on the above data</strong>
                    i.material-icons.left.black-text feedback
        div.modal#modal2
            div.modal-content
                h4.center.teal-text.darken-2 Your Feedback is valuable...
                form.col.l10.m10.s10#form_feedback(method='POST')
                    div
                        span How useful is the data that we provide?
                        br
                        input.with-gap#radio1(name='radio1_feedback' type='radio')
                        label(for='radio1') Very Useful&nbsp
                        input.with-gap#radio2(name='radio1_feedback' type='radio')
                        label(for='radio2') Useful&nbsp
                        input.with-gap#radio3(name='radio1_feedback' type='radio')
                        label(for='radio3') Average&nbsp
                        input.with-gap#radio4(name='radio1_feedback' type='radio')
                        label(for='radio4') Not Useful&nbsp
                        input.with-gap#radio5(name='radio1_feedback' type='radio')
                        label(for='radio5') Not Useful At All

                        //div.question-wrapper.questionWrapper.false(style='display:inline-block; width: 100%; position:relative;')
                        //    label#label1.form-label.form-label-left.form-label-auto(style='width:170px;')
                        //        div.editor-container.editor(style='display:inline;width:100%;')
                        //            div(placeholder='Type a Question' contenteditable='true' style='width:100%;') Questions
                        //    div.form-input(style='position:relative')

                        //textarea#text1
                        //label(for='text1')
                    br
                    div.input-field
                        span Suggest changes in data(if any)
                        textarea#text2
                        label(for='text2')
                    br
                    br

                    div.row
                        div.col.s6.l4.m4.offset-l1
                            input.reset(type='reset')
                        div.col.s6.l4.m4.offset-l3
                            input.button(type='submit')
