div.row
    div.col.s12.m12.l9.offset-l3
        img#drug(src='/images/drugsData.jpg', style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;')
        div#drugdata
            .col.s12.m12.l11.offset-l1
                br

                div.row
                    div.drug_alphabets.pull-left
                        span.center
                            ul
                                li.active
                                    a.btn2.all.hoverable(href='/health_care_provider?page=drug_data' type='all') All
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') A
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') B
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') C
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') D
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') E
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') F
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') G
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') H
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') I
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') J
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') K
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') L
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') M
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') N
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') O
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') P
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') Q
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') R
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') S
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') T
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') U
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') V
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') W
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') X
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') Y
                                li
                                    a.btn2.hoverable(href='/health_care_provider?page=drug_data') Z
                                li
                                    a.btn2.all.hoverable(href='/health_care_provider?page=drug_data' type='other') Other

            div.col.grey.lighten-3.s12.m12.l10.offset-l1
                each val in data
                    h3 #{val.brand_name.toUpperCase()}
                        span <em>&nbsp - &nbsp</em>
                        each company in val.company_id
                            span <strong>manufactured by #{company.company_name.toUpperCase()}</strong>
                        h5 [#{val.categories}]
                        each dosages in val.dosage_id
                            each doses in dosages.strength_id
                                if (doses.prescription != '')
                                    li Prescription: <strong>#{doses.prescription}</strong>
                        br
                        li Consumed in the form of:
                            table.responsive-table.responsive-on-down-only
                                thead
                                    tr
                                        th Dosage Form
                                        th Strength
                                        th Packaging
                                        th Price
                                tbody
                                    each dosage in val.dosage_id
                                        each dose in dosage.strength_id
                                            tr
                                                td <strong>#{dosage.dosage_form.toUpperCase()}</strong> &nbsp &nbsp
                                                td <strong>#{dose.strength} #{dose.strengths}</strong> &nbsp &nbsp
                                                td <strong>#{dose.packaging}</strong> &nbsp &nbsp
                                                td <strong>#{dose.price}</strong>
                                                //each dose in dosage.strength_id

                br
                li Involves Potent Substances: &nbsp
                each vas in data
                    each dosages in vas.dosage_id
                        each doses in dosages.strength_id
                            each pots in doses.potent_substance
                                span <strong>#{pots.name}</strong> &nbsp
                                span <strong>#{pots.molecule_strength}</strong>
                br
                each vas in data
                    each dosages in vas.dosage_id
                        each doses in dosages.strength_id
                                if(doses.dose_taken != '')
                                    li Dose Taken As:&nbsp
                                        span <strong>#{doses.dose_taken}</strong>
                br
                each vas in data
                    each dosages in vas.dosage_id
                        each doses in dosages.strength_id
                            each pots in doses.potent_substance
                                if(doses.dose_timing != '')
                                    li Dose Timings:&nbsp
                                        span <strong>#{doses.dose_timing}</strong>
                br
                each vas in data
                    each dosages in vas.dosage_id
                        each doses in dosages.strength_id
                            each pots in doses.potent_substance
                                if(vas.primarily_used_for != '')
                                    li The Drug <strong>#{vas.brand_name.toUpperCase()}</strong> is primarily used for <strong>#{vas.primarily_used_for}</strong>
                br
                each vas in data
                    each dosages in vas.dosage_id
                        each doses in dosages.strength_id
                            each pots in doses.potent_substance
                                br
                                if(doses.warnings != '')
                                    i.material-icons.left warning
                                    span.red-text Warnings
                                    br
                                    span <strong>#{doses.warnings}</strong>
                                    br

        div
                br
                br
                div.col.s12.l12.m12.grey.lighten-1(style='padding:5px;margin-top:20px')
                    a.black-text.modal-trigger(href='#modal2') <strong>Give a Feedback on the above data</strong>
                        i.material-icons.left.black-text feedback
        div.modal#modal2
            div.modal-content
                h4.center.teal-text.darken-2 Your Feedback is valuable...
                form.col.l10.m10.s10#form_feedback(method='POST')
                    div
                        span How useful is the data that we provide?
                        br
                        input.with-gap#radio1(name='radio1_feedback' type='radio')
                        label(for='radio1') Very Useful
                        input.with-gap#radio2(name='radio1_feedback' type='radio')
                        label(for='radio2') Useful
                        input.with-gap#radio3(name='radio1_feedback' type='radio')
                        label(for='radio3') Average
                        input.with-gap#radio4(name='radio1_feedback' type='radio')
                        label(for='radio4') Not Useful
                        input.with-gap#radio5(name='radio1_feedback' type='radio')
                        label(for='radio5') Not Useful At All

                        //div.question-wrapper.questionWrapper.false(style='display:inline-block; width: 100%; position:relative;')
                        //    label#label1.form-label.form-label-left.form-label-auto(style='width:170px;')
                        //        div.editor-container.editor(style='display:inline;width:100%;')
                        //            div(placeholder='Type a Question' contenteditable='true' style='width:100%;') Questions
                        //    div.form-input(style='position:relative')

                        //textarea#text1
                        //label(for='text1')
                    br
                    div.input-field
                        span Suggest changes in data(if any)
                        textarea#text2
                        label(for='text2')
                    br
                    br

                    div.row
                        div.col.s6.l4.m4.offset-l1
                            input.reset(type='reset')
                        div.col.s6.l4.m4.offset-l3
                            input.button(type='submit')
